<h1>Welcome, to my firs Angular App</h1>
<app-templatework></app-templatework>
<app-navbar></app-navbar>
<app-header></app-header>
<button disabled="{{isDisabled}}">this is String interpolation</button>
<button [disabled]="isDisabled">this is from property binding</button>
<br/>
<hr/>
<button (click)="ChangeStatus()" [class.active]="isActive" [class.no-active]="!isActive">Button</button>

<button [class.active]="fruitName == 'Apple' ">Fruit</button>

<button [style.background-color]="fruitName == 'Apple' ? 'red': 'green' ">Fruit</button>

<input type="text" [(ngModel)]="username" (keyup.enter)="KeyEnterPressed()" />

<table>
  <tr><td>Username</td></tr>
  <tr *ngFor="let record of dataList">
    <td>{{record}}</td>
  </tr>
</table>

<br/>
<hr/>

<input type="text" #user (keyup.enter)="KenyEnterTemplatebinding(user)" id="username"/>

<h1 *ngIf="isUserLogin else usernotlogin">User is login</h1>

<h1 *ngIf="!isUserLogin">User is not LoggedIn</h1>

<ng-template #usernotlogin>
  <h1>User is not LoggedIn(ng template used)</h1>
</ng-template>


@if(isUserLogin){
  <h1>User is LoggedIn (New if approach)</h1>
}@else{
  <h1>User is not LoggedIn(New Else statement approach)</h1>
}


@if(!isUserLogin){
  <h1>User is not LoggedIn (New if approach)</h1>
}

<hr/>

<button (click)="LoginCountAttempt()" *ngIf="loginCount<=3">Login</button>
<h4 *ngIf="loginCount>3" style="color:red">Exceeded login attemp, please try later</h4>